---
title: David-O-Meter
layout: "base.njk"
styles:
- "David-O-Meter/style"
scripts:
- "projects/david-o-meter/index"
externalStyles:
- "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
excludeFooter: true
---

<a
        href="https://github.com/DavidTeju/David-O-Meter"
        title="GitHub Repository"
>
    <h1>David -&nbsp;<span id="big-O">O</span>&nbsp;- Meter</h1>
</a>
<div id="contain-checkbox-container">
    <div class="form-check form-switch" id="contain-checkbox">
        <label class="form-check-label" for="show-neutral"
        >Show&nbsp;Neutral?</label
        >
        <input
                class="form-check-input"
                type="checkbox"
                id="show-neutral"
                onclick="hideOrShowNeutralBar()"
                checked
        />
    </div>
</div>

<div id="container">
    <div id="positive" title="Positive Sentiment/Opinions">NaN</div>
    <div id="neutral" title="Neutral Sentiment/Opinions">NaN</div>
    <div id="negative" title="Negative Sentiment/Opinions">NaN</div>
</div>

<a
        id="learn-more"
        href="https://github.com/DavidTeju/David-O-Meter/blob/main/README.md"
>Learn more about this project</a
>

<div id="fake-margin"></div>

<div id="footnote">
    <span id="number-of-tweets">$num tweets analyzed</span>
    <span id="time-updated">Last updated: </span>
</div>